{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if request.path == "/user/login/" %}
<link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
<script src="https://kit.fontawesome.com/cf6fa412bd.js" crossorigin="anonymous"></script>
{% else %}
<link rel="stylesheet" href="{% static "assets/css/background.css" %}">
<link rel="stylesheet" href="{% static 'assets/css/music.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css'>

{% endif %}