{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% if  request.path == "/user/login/" or   request.path == "/user/register/"%}
<link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
{% else %}
<link rel="stylesheet" href="{% static "assets/css/background.css" %}">
<link rel="stylesheet" href="{% static 'assets/css/music.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/newImage.css' %}">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css'>

{% endif %}
{% if request.path == "/" %}
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
{% endif %}

{% if request.path == "/upload-music/" %}
<link rel="stylesheet" href="{% static "assets/css/music-player.css" %}   ">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endif %}